services:
  api-gateway:
    build:
      context: . # <-- Build context is the root
      dockerfile: apps/api-gateway/Dockerfile # <-- Points to its own file
    ports:
      - '3001:3000'
    volumes:
      # This overrides the code in the image with your live code
      - ./apps/api-gateway/src:/app/apps/api-gateway/src
      - ./shared:/app/shared
    environment:
      - NODE_ENV=development

  user-service:
    build:
      context: .
      dockerfile: apps/user-service/Dockerfile
    ports:
      - '3002:3000' # So you can test it directly if you want
    volumes:
      - ./apps/user-service/src:/app/apps/user-service/src
      - ./shared:/app/shared
    environment:
      - NODE_ENV=development

  # template-service:
  #   build:
  #     context: ./apps/template-service # <-- Context is its own folder
  #     dockerfile: Dockerfile # <-- Uses the Dockerfile inside
  #   ports:
  #     - '9000:9000' # (Example port for PHP-FPM)
  #   volumes:
  #     - ./apps/template-service:/var/www/html
